body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 40em;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
button {
  padding: 1em;
  border: 1px solid #d4d4d4;
  font: inherit;
  margin-bottom: 1em;
}

img {
  max-width: 100%;
}
